@font-face {
    font-family: "AssistantRegular";
    src: local("AssistantRegular"),
      url("../fonts/Assistant-VariableFont_wght.ttf") format("truetype");
    font-weight: bolder;
  }

  .btn{
    margin-bottom: 15px;
  }